
.metadata/.mylyn/tasks.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/344445544.index

Project 3/ParseDataabout us @ the bren school of information and computer sciences.txt

*.zip

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/24/90ac58ab84a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/3f/c09db10885a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/33/3043470885a900141affee73eb3f32b2

*.snap

*.snap

*.snap

*.txt

.metadata/.mylyn/.tasks.xml.zip

*.snap

.metadata/.plugins/org.eclipse.core.resources/.history/34/3038f7a385a900141affee73eb3f32b2
