
.metadata/.mylyn/tasks.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/344445544.index

Project 3/ParseDataabout us @ the bren school of information and computer sciences.txt
