
.metadata/.mylyn/tasks.xml.zip

.metadata/.mylyn/tasks.xml.zip

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/344445544.index

Project 3/ParseDataabout us @ the bren school of information and computer sciences.txt

*.zip

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/24/90ac58ab84a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/3f/c09db10885a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/33/3043470885a900141affee73eb3f32b2

*.snap

*.snap

*.snap

*.txt

.metadata/.mylyn/.tasks.xml.zip

*.snap

.metadata/.plugins/org.eclipse.core.resources/.history/34/3038f7a385a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/1a/10a1317086a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/e3/b08f8c0486a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/ff/90f698b586a900141affee73eb3f32b2

*.png

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/3e/102a832394a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/f4/2061c2f086a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/d4/d043c84a94a900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/1e/f0994e0d8fa900141affee73eb3f32b2

.metadata/.plugins/org.eclipse.core.resources/.history/12/d040211d94a900141affee73eb3f32b2

*.jdb

*.index

.metadata/.plugins/org.eclipse.core.resources/.projects/Project 3/.markers

*.tree

*.xml

*.prefs

*.json

*.fnm

*.tis

.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_2

*.dat

.metadata/.plugins/org.eclipse.core.resources/.history/a8/00a52fab2aab00141edade3f907945fc

*.properties

.metadata

.metadata/.plugins/org.eclipse.core.resources/.history/f5/706defc62fab001410289bd19646263e

.metadata/.plugins/org.eclipse.team.cvs.core/.running

*.resources

*.index

.metadata/.plugins/org.eclipse.jdt.core/344445544.index

*.ini
